@use 'colors';
@use 'basic';

footer{
    background-color: black;
    color:colors.$primary;
    text-align: center;
  margin-top: 10px;;
  padding-top: basic.$spacer;
 padding-bottom: basic.$spacer;
font-size: 18px;
}

footer a {
  color: colors.$primary;
  text-decoration: none;
}
