 @use 'colors';
@use 'basic';

 header{
    text-align: center;
    background-color: black;
    padding-bottom:basic.$spacer;
    margin-bottom:30px;
}
   .phone-number{
    position:absolute;
    top:8px;
    right:10px;
    width:35px;
      height:35px;
    background-color: colors.$color-secundary;
    border-radius: 20px;
       img {
         width:30px;
         margin-top:5px;
       }
       
   }
   .logo{
    width:80%;
    margin-top: 40px;
    text-align: center;
    box-shadow: gainsboro 0px 1px 7px 1px;
    border-radius: 0px basic.$spacer 0px basic.$spacer;
  }

    .logo img {
    
    width:95%;
    height:auto;
    object-fit: cover;
    margin:0 auto;
     

    }

