@use 'colors';
@use 'basic';

 
 .contact-info {
    width: 80%;
    height: auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    background-color: colors.$primary;
    padding: 20px;
    border-radius: basic.$spacer;
    margin:0 auto ;
    box-shadow: gainsboro 0px 1px 7px 1px;
     }
.address{
    width:80%;
    margin: basic.$spacer;
    font-weight: 300;
   border-radius:20px;
   background-color:colors.$color-secundary;
   padding:3px;
  
    p{
        font-size: 16px;
        margin: basic.$spacer;
    }
  
}
.social-media{
    width:80%;
    background-color: colors.$color-secundary;
    border-radius: basic.$spacer; 
    margin-top:basic.$spacer;
    padding:5px;
}
   .social-media ul {
      list-style: none;
      text-decoration: none;
        color:colors.$primary;
        font-size: 20px;
        margin-right: basic.$spacer;
        text-align: center;
}
.social-media a{
    
    color:darkgreen;
    font-size:20px;
    text-decoration: none;
    text-align: center;
}

.numbermail{
    width:80%;
    margin: basic.$spacer;
    font-weight: 400;
    text-align: center;
    background-color: colors.$color-secundary;
    border-radius:20px;
    margin-bottom:30px;
   
       a{
        color:darkgreen;
        text-decoration: none;
        font-size: 20px;
        background-color: colors.$color-secundary;
        }
       strong {
        color:darkgreen;
       }
}

/*kontakthtml*/