@use 'colors';
@use 'basic';

.menu{
    list-style: none;
    padding-left: 10px;
    margin: 0 auto;
    width:90% ;
     }
     .menu ul{
      padding:0;
      margin:0 auto;
     }
    .menu li{
    text-align: center;
    
    
    }

.menu a {
    text-align: center;
    display:block;
    text-decoration: none;
    color:colors.$primary;
    font-size: 16px;
    font-family: basic.$font-special;
    font-weight: 600;
    background-color:black;
    padding:basic.$spacer;
    list-style-type:none;
    border-radius:basic.$spacer ;
    border:2px solid colors.$primary;
  }
      .menu a:hover{
    background-color: colors.$color-secundary;
    color:black;
    margin:basic.$spacer;
    border-radius: basic.$spacer;
    border:2px solid colors.$primary;
}


    .mobile-menu{
      list-style: none;
  
    margin: 0 auto;
    width:90% ;
       
    
    }
      .mobile-menu ul{
        padding:0;
      }
     .mobile-menu li{
      list-style: none;
    text-align: center;
    
    
    }

    .mobile-menu a {
    margin:0;
    padding:0;
    text-align: center;
    display:block;
    text-decoration: none;
    color:colors.$primary;
    font-size: 16px;
    font-family: basic.$font-special;
    font-weight: 600;
    background-color:black;
    padding:basic.$spacer;
    list-style-type:none;
    border-radius:basic.$spacer ;
    border:2px solid colors.$primary;
  }
      .mobile-menu a:hover{
    background-color: colors.$color-secundary;
    color:black;
    margin:basic.$spacer;
    border-radius: basic.$spacer;
    border:2px solid colors.$primary;
}



    







