@use 'colors';
@use 'basic';

.menu{
    list-style: none;
    padding-left: 10px;
    margin: 0 auto;
    width:90% ;
     }
    .menu li{
    text-align: center;
    margin-right: basic.$spacer;
    
    }

.menu a {
    text-align: center;
    display:block;
    text-decoration: none;
    color:colors.$primary;
    font-size: 16px;
    font-family: basic.$font-special;
    font-weight: 600;
    background-color:black;
    padding:basic.$spacer;
    list-style-type:none;
    border-radius:basic.$spacer ;
    border:2px solid colors.$primary;
  }
      .menu a:hover{
    background-color: colors.$color-secundary;
    color:black;
    margin:basic.$spacer;
    border-radius: basic.$spacer;
    border:2px solid colors.$primary;
}


    .mobile-menu{
        width:90%;
      list-style: none;
   padding-left: 10px;
    margin: 0 auto;
    margin-top: basic.$spacer;
    }
     .mobile-menu li{
    text-align: center;
    margin-right: basic.$spacer;
    
    }

    .mobile-menu a {
    margin:auto;
    text-align: center;
    display:block;
    text-decoration: none;
    color:colors.$primary;
    font-size: 16px;
    font-family: basic.$font-special;
    font-weight: 600;
    background-color:black;
    padding:basic.$spacer;
    list-style-type:none;
    border-radius:basic.$spacer ;
    border:2px solid colors.$primary;
  }
      .mobile-menu a:hover{
    background-color: colors.$color-secundary;
    color:black;
    margin:basic.$spacer;
    border-radius: basic.$spacer;
    border:2px solid colors.$primary;
}



    







