@use 'colors';
@use 'basic';


.thank-you-message{
    text-decoration:none;
    display:inline-block;
    padding:10px 20px;
    background-color: colors.$primary;
    color: white;
    border-radius: basic.$spacer;

}