
@use 'basic';

@use 'colors';
@use 'header';
@use 'menufirst';
@use 'glidegalerie';
@use 'kontakt';
@use 'menutwo';
@use 'profilphoto';
@use 'footer';
@use 'formular';
@use 'work';
@use 'impressum';
@use 'datenschutz';
@use 'success';

// SCSS Variables


 @media screen and (min-width: 600px) {
    .container{
        display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr ;
      align-items: center;
      gap: basic.$spacer;
      justify-items:center;

        
    }
    .container img {
        width: 60%;
        height: auto;
        object-fit: cover;
        border-radius: basic.$spacer;
    }
    
 }

    /* iba poznamky -ked si zakaznik doda lepsie fotky a ostatne veci - este chybaju aj profesionalne fotky od fotografa.hintergrund {
        padding-right:20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
       
        align-items: center;
        margin:0 auto;
    }*/


@media screen and (min-width: 600px){

    
    .menu ul {
        display:flex;
        justify-content: space-around;

    }
     .footer-menu ul{
       display:flex;
        justify-content: space-around;
        margin:20px 20px 20px 20px;
        
     }  
     }


 @media screen and (min-width: 600px) {
    .glide {
      position: center;
      width: 100%;
      height: 100%;
      background-color: black;
     }


     

  .glide__slide img {
    max-width:100%;
    max-height: 100%;
    object-fit: cover;
  text-align: center;
   background-color:colors.$primary ;
   
  }
  
/*
je to dane fix v glide.theme.css   neda sa to lahko prestavit .glide__buletts{
    position: absolute;
    z-index:2;
    top:1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}*/

 }





    


