<!DOCTYPE html>
<html lang="de">
<head>
  <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Cookie Banner -->
    <link rel="stylesheet" href="/cookiebanner/cookiebanner.style.css">
    <script src="/cookiebanner/cookiebanner.script.js"></script>
    <style>
        *{margin:0;padding:0;text-decoration:none;list-style:none;box-sizing:border-box;}
    </style>
    <script>
        $(document).ready(function() {
            cookieBanner.init();
        });
    </script>



     <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
<link rel="shortcut icon" href="/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="ZweiGestalten" />
<link rel="manifest" href="/icons/site.webmanifest" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZWEI GESTALTEN </title>

    <meta name="description" content="ZWEI GESTALTEN-Ihr Partner für profesionelle und hochwertige 
    Raumausstattung und Bodenverlegung in Klaus (Feldkirch,Vorarlberg).Wir gestalten Räume
     neu oder renovieren Böden (Parkett,Fliessen,Teppich, usw ...).">

   <link rel="stylesheet" href="/css/style.css">

   <link rel="stylesheet" href="/css/glide.core.min.css">
	<link rel="stylesheet" href="/css/glide.theme.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="phone-number">
            <a href="/kontakt"> 
            <img class="phoneicon" src="/images/phoneicon.png" alt="Telefon Icon"></a>
        

        </div>

        <div>
        <img class="logo" src="/images/logo.jpeg" alt="Firmenlogo">
        </div>

         
 

    <nav class="mobile-menu">
      <ul>
        <li><a href="/">Homepage</a></li>
      </ul>
    </nav>

 </header>


 <main>
    {{ content | safe }}

   </main>


  <footer>
        <p><a href="/datenschutz">Datenschutz&Cookies </a></p>
   <p><a href="/impressum">Impressum</a></p>  
        <br>
    <p>© 2026 </p>
  <p> ZWEI GESTALTEN HL GmbH </p>
 
  
    </footer>
</body>
</html> 
    